---
import { Image } from 'astro:assets'
import Layout from 'src/layouts/Layout.astro'
import projects from 'src/data/projects.json'

export function getStaticPaths() {
  const data = projects.map(project => {
    const images = import.meta.glob<{ default: ImageMetadata }>('../../assets/**')

    return {
      params: {
        id: project.id,
      },
      props: {
        project: {
          ...project,
          image: images[`../../assets/images/projects/${project.id}.webp`](),
        },
      },
    }
  })

  return data
}

const { project } = Astro.props
---

<Layout
  title={project.name}
  description={project.description}
  image={`/proyecto/${project.id}/og.png`}
>
  <div class='flex min-h-screen items-center justify-center'>
    <Image src={project.image} alt={project.name} transition:name={project.id} />
  </div>
</Layout>
