---
import { Image } from 'astro:assets'
import ImgProfile from '@assets/images/profile.webp'
import { Icon } from 'astro-icon/components'
import { CopyButton } from './CopyEmailButton'
import personalInfo from 'src/data/personalInfo.json'
---

<section id='sobre_mi' class='flex scroll-mt-20 flex-col items-center gap-y-12'>
  <header class='flex items-center gap-x-8 gap-y-4'>
    <Image src={ImgProfile} alt='Jean Chirinos' loading='eager' class='w-48 rounded-full' />

    <div class='flex flex-col gap-y-7'>
      <section>
        <h2 class='text-3xl font-extrabold text-white' aria-label='Mi nombre'>
          {personalInfo.name}
        </h2>
        <h3 class='text-lg text-neutral-100' aria-label='Ocupación'>{personalInfo.occupation}</h3>
      </section>
      <ul
        aria-label='Tecnologías que domino'
        class='inline-grid grid-cols-[auto_auto] gap-x-5 gap-y-3 text-lg *:flex *:items-center *:gap-x-1.5'
        translate='no'
      >
        <li>
          <Icon name='technologies/react' />
          <span>React</span>
        </li>
        <li>
          <Icon name='technologies/typescript' />
          <span>Typescript</span>
        </li>
        <li>
          <Icon name='technologies/nextjs' />
          <span>Next.js</span>
        </li>
        <li>
          <Icon name='technologies/tailwindcss' />
          <span>Tailwind CSS</span>
        </li>
      </ul>
    </div>
  </header>

  <footer class='space-y-10'>
    <section class='space-y-2'>
      <p>+2 años de experiencia. {personalInfo.occupation}. De Lima, Perú.</p>
      <p class='max-w-[50ch]'>
        Enfocado en la calidad, rendimiento, accesibilidad y experiencia de desarrollo.
      </p>
    </section>
    <section class='space-y-6'>
      <ul
        class='flex flex-wrap justify-center gap-x-5 gap-y-3 text-lg text-neutral-400 *:flex *:items-center *:gap-x-1.5 *:rounded-lg *:border *:border-neutral-500 *:px-3.5 *:py-0.5 hover:*:bg-white/5'
      >
        <a href={personalInfo.links.linkedin} target='_blank'>
          <Icon name='mdi:linkedin' />
          LinkedIn
        </a>
        <a href={personalInfo.links.github} target='_blank'>
          <Icon name='mdi:github' />
          GitHub
        </a>
        <a id='link_see_cv' href={personalInfo.links.resume.es} target='_blank'>
          <Icon name='mdi:file' />
          Ver CV
        </a>
      </ul>

      <div>
        <CopyButton client:load>
          <Icon name='mdi:content-copy' slot='copyIcon' />
          <Icon name='mdi:check' slot='checkIcon' />
        </CopyButton>
      </div>
    </section>
  </footer>
</section>
