---
import { Icon } from 'astro-icon/components'
import { Image } from 'astro:assets'
import projects from 'src/data/projects.json'

const images = import.meta.glob<{ default: ImageMetadata }>('../assets/**')
---

<section id='proyectos' class='scroll-mt-20 space-y-6 self-center'>
  <h4>Proyectos</h4>

  <section class='grid gap-5 sm:grid-cols-2'>
    {
      projects.map(project => (
        <article class='space-y-4 rounded-md bg-[#545454]/5 px-6 py-4'>
          <p class='mb-2 text-xl font-bold'>{project.name}</p>

          <a href={project.web} target='_blank' aria-label='Ir a la web'>
            <Image
              src={images[`../assets/images/projects/${project.id}.webp`]()}
              alt=''
              transition:name={project.id}
            />
          </a>

          <footer class='flex items-center justify-between gap-x-2'>
            <div class='flex gap-x-4'>
              {project.technologies.map(technology => (
                <Icon
                  name={`technologies/${technology}`}
                  title={technology.at(0)?.toUpperCase() + technology.slice(1)}
                />
              ))}
            </div>
            <aside class='flex text-xl *:rounded-md *:px-2 *:py-1 hover:*:bg-white/5'>
              <a
                href={`/proyecto/${project.id}`}
                aria-label='M치s informaci칩n'
                title='M치s informaci칩n'
              >
                <Icon name='mdi:info' />
              </a>
              <a
                href={project.github}
                target='_blank'
                aria-label='Github'
                title='Ir al repositorio'
              >
                <Icon name='mdi:github' />
              </a>
            </aside>
          </footer>
        </article>
      ))
    }
  </section>
</section>
